.card-button {
  border-radius: var(--button_corner_radius);
  background-color: white;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: fit-content;
  aspect-ratio: 1/1;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  position: absolute;
  bottom: 0;
  right: 0;
}
.button-cont:hover .card-button {
  transform: translateY(-5px) !important;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2) !important;
  cursor: pointer !important;
}
.button-cont {
  position: relative;
  align-self: flex-end;
  grid-row-start: 3;
  justify-self: flex-end;
  z-index: 9999 !important;
}

.show-now-btn a {
  text-decoration: none !important;
}

.show-now-btn {
  display: none;
  background-color: #1f727c;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.show-now-btn:hover {
  background-color: #185b62;
}

.show-now-btn.visible {
  display: block;
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% {
    right: 100px; /* Початкова позиція */
    opacity: 0; /* Початкова прозорість */
  }
  100% {
    right: 0; /* Кінцева позиція */
    opacity: 1; /* Повна видимість */
  }
}
