.cd-container {
  color: #ffffff;
  margin: 0;
  text-align: center;
  margin: 30px;
}
.cd-container li {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  text-transform: uppercase;
}
.cd-container li span {
  display: block;
  font-size: 3.5rem;
  letter-spacing: 1.5rem;
}

@media all and (max-width: 768px) {
  .cd-container ul {
    display: inline-flex;
    padding: 0;
    white-space: nowrap;
  }
  .cd-container li {
    font-size: 1.5rem;
  }

  .cd-container li span {
    font-size: 4rem;
  }
}
